@import variables
@import mixins
@import bootstrap

// Application layout styles

header.page
  @extend .container

  h1
    border-bottom: 1px solid $gray-lighter
    margin-bottom: ($line-height-computed / 2)
    padding-bottom: ($line-height-computed / 2)

section.page
  @extend .container

footer.page
  @extend .container

  p
    @extend .text-muted

    &:first-child
      border-top: 1px solid $gray-lighter
      margin-top: ($line-height-computed / 2)
      padding-top: ($line-height-computed / 2)

    a
      @extend .text-muted
